<div class="canvas-container">
  <!-- Export Button as an Icon -->
  <button
    class="export-button"
    (click)="exportCanvas()"
    title="Export as Image"
  >
    <img src="download-icon.png" alt="Export" />
  </button>

  <!-- Canvas Element -->
  <canvas
    #canvasElement
    [width]="subSeq.width"
    [height]="subSeq.height"
    style="border: 1px solid black; background-color: white"
    (mousemove)="onMouseMove($event)"
    (mouseleave)="onMouseLeave()"
    (mousedown)="onMouseDown($event)" 
    (mouseup)="onMouseUp($event)" 
  ></canvas>
  <!-- Tooltip for Y-axis (vertices) -->
  <div
    *ngIf="tooltipVisibleY"
    [ngStyle]="{ 'top.px': tooltipY, 'left.px': tooltipX }"
    class="tooltip"
  >
    {{ tooltipTextY }}
  </div>

  <!-- Tooltip for X-axis (timeline) -->
  <div
    *ngIf="tooltipVisibleX"
    [ngStyle]="{ 'top.px': subSeq.height, 'left.px': tooltipX - 15 }"
    class="tooltip"
  >
    {{ tooltipTextX }}
  </div>

  <!-- Vertical Line for the X-axis tooltip -->
  <div
    *ngIf="tooltipVisibleX"
    [ngStyle]="{ 'left.px': tooltipX, 'height.px': subSeq.height }"
    class="vertical-line"
  ></div>

  <!-- CSS-based selection rectangle -->
<div *ngIf="isSelecting" [ngStyle]="selectionStyle" class="selection-rectangle"></div>

<!-- Display selected vertices below the canvas -->
<div *ngIf="canvasSelectionMode===CANVAS_SELECTION_MODE.VERTICES && (selectedVertices$ | async) as selectedVertices" class="selection-info">
  {{ 'Selection:' }}
  <ng-container *ngFor="let vertex of selectedVertices; let last = last">
    {{ vertex.name }}<ng-container *ngIf="!last">, </ng-container>
  </ng-container>
</div>
<div *ngIf="canvasSelectionMode===CANVAS_SELECTION_MODE.TIMEPOINTS" class="selection-info">
  {{ 'Selection:' }}
  <ng-container *ngFor="let g of selectedTimepoints; let last = last">
    {{ g.name }}<ng-container *ngIf="!last">, </ng-container>
  </ng-container>
</div>

</div>
