.control-panel {
    font-family: 'Roboto', sans-serif;
    padding: 8px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 320px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 2px; /* Reduced margin */
}

.form-group label {
    font-weight: 500;
    display: block;
    margin-bottom: 4px; /* Reduced margin */
    font-size: 12px; /* Reduced label font size */
}

.form-group input,
.form-group select {
    font-family: 'Roboto', sans-serif;
    font-size: 11px; /* Slightly smaller font size for inputs and selects */
}

.form-group input[type="range"] {
    width: 100%;
}

.form-group span {
    display: block;
    text-align: right;
    margin-top: 2px; /* Reduced margin */
    font-size: 12px; /* Slightly smaller font size */
}

.settings-group {
    margin-top: 16px; /* Reduced margin */
}

.settings-group h3 {
    font-weight: 700;
    margin-bottom: 8px; /* Reduced margin */
    border-bottom: 1px solid #ccc; /* Thinner border */
    padding-bottom: 4px; /* Reduced padding */
    font-size: 12px; /* Slightly smaller font size */
}

.tep-settings {
    border: 1px solid #888;
    padding: 6px; /* Reduced padding */
    margin-top: 6px; /* Reduced margin */
    border-radius: 4px;
}

.tep-settings legend {
    font-size: 11px; /* Slightly smaller font size */
    font-weight: bold;
    padding: 0 4px;
    margin-bottom: 4px; /* Reduced margin */
}



/* The switch - the container */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px; /* Rounded corners */
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%; /* Make it round */
}

/* When the checkbox is checked, change the background color */
input:checked + .slider {
  background-color: #2196F3; /* Blue when checked */
}

/* Move the slider thumb when the checkbox is checked */
input:checked + .slider:before {
  transform: translateX(26px); /* Move the circle */
}

/* Optional - round sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}