<div class="control-panel">
  <form [formGroup]="controlForm">
    <!-- Dataset Selection -->
    <div class="form-group">
      <label for="dataset">Dataset:</label>
      <select id="dataset" formControlName="dataset">
        <option *ngFor="let dataset of datasets" [value]="dataset">
          {{ dataset }}
        </option>
      </select>
    </div>

    <!-- Visualization Technique -->
    <div class="form-group">
      <label for="visualization">Visualization Technique:</label>
      <select id="visualization" formControlName="visualization">
        <option
          *ngFor="let technique of visualizationTechniques"
          [value]="technique"
        >
          {{ technique }}
        </option>
      </select>
    </div>

    <!-- Vertex Ordering -->
    <div class="form-group">
      <label for="vertexOrdering">Vertex Ordering:</label>
      <select id="vertexOrdering" formControlName="vertexOrdering">
        <option
          *ngFor="let ordering of vertexOrderingMethods"
          [value]="ordering"
        >
          {{ ordering }}
        </option>
      </select>
    </div>

    <!-- Sequence Ordering -->
    <div class="form-group">
      <label for="sequenceOrder">Sequence Ordering:</label>
      <select id="sequenceOrder" formControlName="sequenceOrder">
        <option *ngFor="let method of sequenceOrderingMethods" [value]="method">
          {{ method }}
        </option>
      </select>
    </div>

    <!-- Partitioning -->
    <div class="form-group">
      <label for="partitioning">Partitioning:</label>
      <select id="partitioning" formControlName="partitioning">
        <option
          *ngFor="let partition of partitioningMethods"
          [value]="partition"
        >
          {{ partition }}
        </option>
      </select>
    </div>

    <!-- Number of Intervals -->
    <div
      class="form-group"
      *ngIf="
        controlForm.get('partitioning')?.value === PARTITIONING_METHOD.UNIFORM
      "
    >
      <label for="intervals">No. of Intervals:</label>
      <input
        type="range"
        id="intervals"
        formControlName="intervals"
        min="1"
        max="100"
        (blur)="onSettingsChange(controlForm.value)"
      />
      <span>{{ controlForm.get("intervals")?.value }}</span>
    </div>

    <!-- partitioning distance threshold of Intervals -->
    <div
      class="form-group"
      *ngIf="
        controlForm.get('partitioning')?.value ===
          PARTITIONING_METHOD.DISTANCE_TO_PREVIOUS_POINT ||
        controlForm.get('partitioning')?.value ===
          PARTITIONING_METHOD.AVERAGE_PAIRWISE_DISTANCE
      "
    >
      <label for="threshold">Distance Threshold:</label>
      <input
        type="range"
        id="threshold"
        formControlName="threshold"
        min="0"
        max="1"
        step="0.01"
        (blur)="onSettingsChange(controlForm.value)"
      />
      <span>{{ controlForm.get("threshold")?.value }}</span>
    </div>

    <!-- Aggregated Edges Frequency -->
    <div class="form-group">
      <label for="edgeFreqRangeMin">Filter Edges By Frequency</label>
      <div>
        <input
          type="range"
          id="edgeFreqRangeMin"
          formControlName="edgeFreqRangeMin"
          [min]="0"
          [max]="100"
          [step]="1"
          (input)="updateRange()"
          (blur)="onSettingsChange(controlForm.value)"
          #rangeMin
        />
        <input
          type="range"
          id="edgeFreqRangeMax"
          formControlName="edgeFreqRangeMax"
          [min]="0"
          [max]="100"
          [step]="1"
          (input)="updateRange()"
          (blur)="onSettingsChange(controlForm.value)"
          #rangeMax
        />

        <span>
          {{
            controlForm.get("edgeFreqRangeMax")?.value -
              controlForm.get("edgeFreqRangeMin")?.value +
              "%"
          }}
        </span>
      </div>
    </div>

    <!-- Visualization Settings Group -->
    <div class="settings-group">
      <h3>Visualization Settings</h3>

      <!-- Color Scheme -->
      <div class="form-group">
        <label for="colorScheme">Color Scheme:</label>
        <select id="colorScheme" formControlName="colorScheme">
          <option
            *ngFor="let colorScheme of colorSchemeList"
            [value]="colorScheme"
          >
            {{ colorScheme }}
          </option>
        </select>
      </div>

      <!-- Color Encoding -->
      <div class="form-group">
        <label for="colorEncoding">Color Encoding:</label>
        <select id="colorEncoding" formControlName="colorEncoding">
          <option
            *ngFor="let colorEncoding of colorEncodingList"
            [value]="colorEncoding"
          >
            {{ colorEncoding }}
          </option>
        </select>
      </div>

      <!-- Line Rendering -->
      <div class="form-group">
        <label for="lineRendering">Line Rendering:</label>
        <select id="lineRendering" formControlName="lineRendering">
          <option
            *ngFor="let rendering of lineRenderingMethods"
            [value]="rendering"
          >
            {{ rendering }}
          </option>
        </select>
      </div>

      <!-- Blending Factor -->
      <div class="form-group">
        <label for="blendingFactor">Blending Factor (Alpha):</label>
        <input
          type="range"
          id="blendingFactor"
          formControlName="blendingFactor"
          min="0"
          max="1"
          step="0.01"
          (blur)="onSettingsChange(controlForm.value)"
        />
        <span>{{ controlForm.get("blendingFactor")?.value }}</span>
      </div>

      <!-- Line Width -->
      <div class="form-group">
        <label for="lineWidth">Line Width:</label>
        <input
          type="range"
          id="lineWidth"
          formControlName="lineWidth"
          min="1"
          max="10"
          (blur)="onSettingsChange(controlForm.value)"
        />
        <span>{{ controlForm.get("lineWidth")?.value }}</span>
      </div>

      <!-- Stripe Width -->
      <div class="form-group">
        <label for="stripeWidth">Stripe Width:</label>
        <input
          type="range"
          id="stripeWidth"
          formControlName="stripeWidth"
          min="1"
          max="100"
          (blur)="onSettingsChange(controlForm.value)"
        />
        <span>{{ controlForm.get("stripeWidth")?.value }}</span>
      </div>

      <!-- Vertex Height -->
      <div class="form-group">
        <label for="vertexHeight">Vertex Height:</label>
        <input
          type="range"
          id="vertexHeight"
          formControlName="vertexHeight"
          min="1"
          max="10"
          (blur)="onSettingsChange(controlForm.value)"
        />
        <span>{{ controlForm.get("vertexHeight")?.value }}</span>
      </div>
    </div>
    <!-- TEP Specific Settings -->
    <div
      class="settings-group"
      [ngStyle]="{
        display:
          controlForm.get('visualization')?.value === VIS_TECHNIQUE.TEP
            ? 'block'
            : 'none'
      }"
    >
      <h3>TEP Settings</h3>

      <div class="form-group">
        <label for="tepBackgroundOpacity">Background Lines Opacity:</label>
        <input
          type="range"
          id="tepBackgroundOpacity"
          formControlName="tepBackgroundOpacity"
          min="0"
          max="1"
          step="0.01"
          (blur)="onSettingsChange(controlForm.value)"
        />
        <span>{{ controlForm.get("tepBackgroundOpacity")?.value }}</span>
      </div>
    </div>
  </form>
</div>
