.app-container {
    display: flex;
    height: 100vh; /* Full viewport height */
    margin: 0;
    padding: 0;
  }
  
  .control-panel-container {
    /*width: 25%;  25% of the screen width */
    background-color: #f0f0f0; /* Optional: for better visual separation */
    padding: 16px;
    box-sizing: border-box;
    border-right: 1px solid #ccc; /* Optional: Adds a divider */
  }
  
  .sequence-container {
    /*width: 75%;  75% of the screen width */
    padding: 16px;
    box-sizing: border-box;
    /*overflow: auto;  To handle content overflow */
  }
  