<div class="canvas-container">
  
  <div
    *ngFor="let sub of subList; let i = index"
    class="sub-sequence-container"
  >
  <!-- Checkbox to select the canvas for comparison -->
  <!-- <input id="subChk" type="checkbox" [(ngModel)]="selectedSubs[i]" style="display: none;" /> -->
    <app-sub-sequence
      [subSeq]="sub"
      [vertexList]="vertexList"
      [stripeWidth]="stripeWidth"
      [vertexHeight]="vertexHeight"
      [visTechnique]="visTechnique"
      [lineWidth]="lineWidth"
      [renderingMode]="renderingMode"
      [blendingFactor]="blendingFactor"
      [colorScheme]="colorScheme"
      [colorEncoding]="colorEncoding"
      [vertexOrdering]="vertexOrdering"
      [edgeOrdering]="edgeOrdering"
      [tepBackgroundOpacity]="tepBackgroundOpacity"
      [edgeFreqRangeMin]="edgeFreqRangeMin"
      [edgeFreqRangeMax]="edgeFreqRangeMax"
      [sepStripeOp]="sepStripeOp"
      [edgeFilteringOption]="edgeFiltering"
      [canvasSelectionMode]="canvasSelectionMode"
      [isManPartitioning]="isManPartitioning"
      [lineOrdering]="lineOrdering"
      [isLineOrderingAscending]="isLineOrderingAscending"
      (splitAction)="handleSplitAction($event, i)"
    ></app-sub-sequence>
    
  </div>
</div>
