<div>
  @for(sub of subList; track $index){
  <app-sub-sequence
    [subSeq]="sub"
    [vertexList]="vertexList"
    [stripeWidth]="stripeWidth"
    [vertexHeight]="vertexHeight"
    [visTechnique]="visTechnique"
    [lineWidth]="lineWidth"
    [renderingMode]="renderingMode"
    [blendingFactor]="blendingFactor"
    [colorScheme]="colorScheme"
    [colorEncoding]="colorEncoding"
    [vertexOrdering]="vertexOrdering"
    [tepBackgroundOpacity]="tepBackgroundOpacity"
    [edgeFreqRangeMin]="edgeFreqRangeMin"
    [edgeFreqRangeMax]="edgeFreqRangeMax"
    class="sub-sequence-item"
  ></app-sub-sequence>
  }
</div>
 